name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run build
        run: cargo build

      - name: Run tests
        run: cargo test
